name: clang-tools-static-amd64

on:
  push:
    branches: [master]

jobs:
  build:
    strategy:
      matrix:
        clang-version: [21]
        os: [linux, windows]
        include:
          - clang-version: 21
            release: llvm-project-21.1.8.src
          - os: linux
            runner: ubuntu-22.04
            os-cmake-args: '-DLLVM_BUILD_STATIC=ON -DCMAKE_CXX_FLAGS="-s -flto" ${POSIX_CMAKE_ARGS}'
            build-args: "-j$(nproc)"
            bindir: "/build/bin"
            dotexe: ""
            shacmd: "sha512sum"
          - os: windows
            runner: windows-latest
            os-cmake-args: '-Thost=x64 -DCMAKE_CXX_FLAGS="/MP /std:c++14" -DLLVM_USE_CRT_MINSIZEREL="MT"'
            build-args: "--config MinSizeRel"
            bindir: "/build/MinSizeRel/bin"
            dotexe: ".exe"
            shacmd: "sha512sum.exe"
            extra-tar-args: "--exclude=${RELEASE}/clang/test/Driver/Inputs/* --exclude=${RELEASE}/libcxx/test/std/input.output/filesystems/Inputs/static_test_env/* --exclude=${RELEASE}/libclc/amdgcn-mesa3d --exclude=${RELEASE}/llvm/utils/mlgo-utils"
    runs-on: ${{ matrix.runner }}
    env:
      COMMON_CMAKE_ARGS: '-DBUILD_SHARED_LIBS=OFF -DLLVM_ENABLE_PROJECTS="clang;clang-tools-extra" -DLLVM_INCLUDE_UTILS=OFF -DLLVM_INCLUDE_TESTS=OFF'
      POSIX_CMAKE_ARGS: "-DCMAKE_BUILD_TYPE=MinSizeRel -DCMAKE_CXX_COMPILER=g++-10 -DCMAKE_C_COMPILER=gcc-10"
      RELEASE: "${{ matrix.release }}"
      suffix: "${{ matrix.clang-version }}_${{ matrix.os }}-amd64"
    steps:
      - name: download patches
        # we download a tarball of this repo, as the presence of a .git directory leaks
        # the commit hash of this repository into the clang binaries
        shell: bash
        run: curl -L https://github.com/${{ github.repository }}/archive/${{ github.ref }}.tar.gz | tar xvz --strip 1
      - name: get llvm-project
        shell: bash
        run: |
          version=${RELEASE##llvm-project-}; version=${version%.src}
          curl -LO https://github.com/llvm/llvm-project/releases/download/llvmorg-${version}/${{ matrix.release }}.tar.xz

      - name: unpack llvm-project
        shell: bash
        run: |
          tar xf ${{ matrix.release }}.tar.xz ${{ matrix.extra-tar-args }}

      - name: cmake
        run: cmake -S ${{ matrix.release }}/llvm -B ${{ matrix.release }}/build ${{ env.COMMON_CMAKE_ARGS }} ${{ matrix.os-cmake-args }} ${{ matrix.extra-cmake-args }}
      - name: build
        run: cmake --build ${{ matrix.release }}/build ${{ matrix.build-args }} --target clang clang-format clang-query clang-tidy clangd
      - name: rename output binary
        run: |
          cd ${{ matrix.release }}${{ matrix.bindir }}
          mv clang${{ matrix.dotexe }} clang-${{ env.suffix }}${{ matrix.dotexe }}
          mv clang-format${{ matrix.dotexe }} clang-format-${{ env.suffix }}${{ matrix.dotexe }}
          mv clang-query${{ matrix.dotexe }} clang-query-${{ env.suffix }}${{ matrix.dotexe }}
          mv clang-tidy${{ matrix.dotexe }} clang-tidy-${{ env.suffix }}${{ matrix.dotexe }}
          mv clangd${{ matrix.dotexe }} clangd-${{ env.suffix }}${{ matrix.dotexe }}
      - name: create and print sha512sum
        shell: bash
        run: |
          cd ${{ matrix.release }}${{ matrix.bindir }}
          ${{ matrix.shacmd }} clang-${{ env.suffix }} > clang-${{ env.suffix }}.sha512sum
          ${{ matrix.shacmd }} clang-format-${{ env.suffix }} > clang-format-${{ env.suffix }}.sha512sum
          ${{ matrix.shacmd }} clang-query-${{ env.suffix }} > clang-query-${{ env.suffix }}.sha512sum
          ${{ matrix.shacmd }} clang-tidy-${{ env.suffix }} > clang-tidy-${{ env.suffix }}.sha512sum
          ${{ matrix.shacmd }} clangd-${{ env.suffix }} > clangd-${{ env.suffix }}.sha512sum
          echo "Checksums are: "
          cat clang-${{ env.suffix }}.sha512sum
          cat clang-format-${{ env.suffix }}.sha512sum
          cat clang-query-${{ env.suffix }}.sha512sum
          cat clang-tidy-${{ env.suffix }}.sha512sum
          cat clangd-${{ env.suffix }}.sha512sum
      - name: upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: clang-tools-${{ matrix.os }}
          path: "${{ matrix.release }}${{ matrix.bindir }}/clang*-${{ env.suffix }}*"
          retention-days: 1
  draft-release:
    runs-on: ubuntu-22.04
    needs: build
    steps:
      - name: download artifacts
        uses: actions/download-artifact@v4
        with:
          pattern: clang-tools-*
          merge-multiple: true
      - name: list files
        run: ls -laR .
      - name: draft release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "clang*"
          draft: true
